
*{
    margin:0;
    padding:0;
  
  }
  

body{
background:white;
min-height:100vh;
padding-bottom:3EM;
}

header{  
display:flex;
position:fixed;
left:0;
top:0;
right: 0;
border:1px solid white;
padding:0,6em;
font-family:apple-system;
justify-content:space-evenly;
background:#333;
text-align:center;
color:white;
    }
 .Logo{
font-size:28px;
line-height:2em;
/* border-bottom:1px solid black ; */
 }

.navegacion{
  /* background:red; */

  }
    
.item{
 text-decoration:none;
 text-align:start;
list-style:none;
display:inline-block;
padding:1em;
margin:em;
/* background:red; */
 }

.item:hover{

background:rgba(112, 109, 109, 0.2);
border-bottom:1px solid rgb(190, 186, 186);
}
    
.texto{
text-decoration:none;
 color:white; 
font-size:18px;
/* border:0.5px solid rgb(192, 186, 186); */
}

#Contacto{
padding:3em;
background:white;
  }

.titulos{
color:rgb(143, 140, 140);;

}
    
 #sobremi{padding:4em;
  /* border:1px solid red; */
  align-content:center;
/* background: rgb(238, 235, 235); */
}
  
  .generalEstilos{
    background:rgba(34, 115, 197, 0.76);
    margin-top:3em;
    color: white;
  }
    /* input */
    
   
    .btn__menu{
      line-height:50px;
    position:absolute;
    right:10px;
    color:white;
    cursor:pointer;
    display:none;
    visibility:hidden;
    z-index:1;
    font-size:10em;
    /* background:white; */
    /* z-index:1; */
    }
    .btn__menu:active{
    background:#3333;
    
    }
    .fa-solid{
display:block;
color:white;
    }
  /* cuerpo */

.main{
width:90%;
margin:auto;

}

.Biografia{

  width:40%;
/* background:orange; */
padding:1em;
color:#333;
font-size:19px;
}
.starlin{
width:20%;
height:10%;
border-radius:100%;
}

.footer{
 width:100%;
background:rgb(54, 52, 52);
text-align: center;
position:absolute;
bottom:0;
visibility:hidden;
}

.tituloFotter{
 color:white;
 font-size:1.5em;
}




     /* "mediasqueris" */
    @media (max-width: 800px) {
    

header{
width:100%;
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;
/* box-sizing:border-box; */
background:#333;
color:white;
}
   
.fa-solid{
  color:white;
  /* display:inline; */
}
.logo{
  font-size:33px;
  /* color:white; */
}
.navegacion{
width:100%;
margin-top:2em;
z-index:0;
text-align:end;
padding:0;
display:none;
margin:0;

}
.item{
display:block;
margin-left:0;
padding:1em;
}
.texto{
  color:white;
}
.texto:hover{
  /* border:1px solid white; */
  
  }

.btn__menu{
font-size:30px;
visibility:visible;
top:10px;
color:white;
}
  
#sobremi{

}

.Biografia{

  width:90%;
padding:1em;
font-size:19px;
}

.starlin{
  width: 30%;
}
.show{
  transition:1s;
  display:block;
      }
    

    } 





 