
*{
    margin:0;
    padding:0;
  
  }
  

body{
background:white;
min-height:100vh;
 position:relative;
/* padding-bottom:3EM; */
}

header{
  width:90%;
margin:auto;
text-align: center;
    }

 .Logo{
font-size:40px;
/* border-bottom:1px solid black ; */
 }
 .yo{
font-size:22px;

 }
.navegacion{
 padding:3em;
  }
    
.item{
 text-decoration:none;
list-style:none;
display:inline-block;
padding:2em;

 }

.item:hover{
color:aqua;
}
    
.texto{
text-decoration:none;
color:rgb(57, 136, 211);
font-size:18px;
border:0.5px solid rgb(192, 186, 186);
padding:1em;
}
.texto:hover{
color:black;
}

#Contacto{
color:white;
padding:3em;

  }
    
 #sobremi{padding:4em;}
  
  .generalEstilos{
    background:rgba(34, 115, 197, 0.76);
    margin-top:40em;
    color: white;
  }
    /* input */
    
   
    .btn__menu{
      line-height:50px;
    position:absolute;
    right:10px;
    color:white;
    cursor:pointer;
    display:none;
    visibility:hidden;
    z-index:1;
    font-size:10em;
    background:white;
    /* z-index:1; */
    }
    .btn__menu:active{
    background:#3333;
    
    }
    .fa-solid{
display:block;
color:black;
    }
  /* cuerpo */

.main{
width:100%;
margin:auto;

}



.footer{
 width:100%;
background:rgb(54, 52, 52);
text-align: center;
position:absolute;
bottom:0;

}

.tituloFotter{
 color:white;
 font-size:1.5em;
}




    /* "mediasqueris" */
    @media (max-width: 800px) {
    
    
    header{
    line-height:3em;
    box-sizing:border-box;
    /* position: relative; */
    background:rgba(63, 143, 209, 0.767);
    }
    
.logo{
  font-size:33px;
  color:white;
}
  .navegacion{
width:100%;
height:100vh;
/* background:rgb(83, 146, 228); */
background:rgba(63, 143, 209, 0.767);
display:inline-block;
 z-index:0;
position:absolute;
top:-4000%;
text-align:center;

   }
    

.btn__menu{
/* color:black; */
font-size:30px;

}
  
#sobremi{
  background:red;
}

    }





 