
*{
    margin:0;
    padding:0;
  
  }
  

body{
background:white;
min-height:100vh;
padding-bottom:3EM;
}

header{  
display:flex;
position:fixed;
left:0;
top:0;
right: 0;
border:1px solid white;
padding:1em;
/* padding:0.1em; */
font-family:apple-system;
font-size:19px;
justify-content:space-evenly;
background:#333;
text-align:center;
color:white;
}

 .Logo{
font-size:28px;
margin-top:3px;

/* border-bottom:1px solid black ; */
 }

 .Logo:hover{
font-size:30px;
color:orange;
transition:1s;
animation-duration:2s reverse;
 }

.navegacion{
  /* background:red; */

  }
    
.item{
 text-decoration:none;
 text-align:start;
list-style:none;
display:inline-block;
padding:0.6em;
margin-left:20px;


/* background:red; */
 }

.item:hover{

background:rgba(112, 109, 109, 0.2);

}
 .item:focus{
background:orange;

 }
    
.texto{
text-decoration:none;
 color:white; 
/* font-size:18px; */

/* border:0.5px solid rgb(192, 186, 186); */
}


.Biografia{
width:90%;
margin:auto;
/* border:1px solid ; */
 
}





  .generalEstilos{
  
    border-bottom:1px solid rgb(172, 167, 167) ; 
  }
   
    
   
    .btn__menu{
      /* line-height:50px; */
    position:absolute;
    right:10px;
    top:10px;
    color:white;
    cursor:pointer;
    display:none;
    visibility:hidden;
    z-index:1;
    font-size:10em;
    /* background:white; */
    /* z-index:1; */
    }
    .btn__menu:active{
    background:#3333;
    
    }

    .BtnInfo{
  width:200px;
background:orange;
color:white;
padding:1em;
border:NONE;
    }

    .yo{
width:200px;
border-radius:100%;
    }

    .saludar{
width:90%;
display:flex;
margin:auto;
justify-content:space-evenly;

vertical-align:center;
flex-wrap:wrap;
margin-top:3em;
padding-top:13em;
 }

 .saludo{
  /* font-weight:300; */
  font-size:60px;
  font-weight:200;
  font-style: oblique;
vertical-align: auto;
 }

  
.broma{
  width:100%;
  font-style:italic;
  font-size:20PX;
  padding:1em;
  padding-top:3em;
  color:green;
  text-align:start;
  margin-bottom:0;

  text-align: center;
  /* text-orientation: upright; */


}
    .parraB{
  
font-size:25px;
font-style:italic;
font-weight:400;
line-height:2em;
text-decoration: cyan ;
list-style:square;
    }
    .fa-solid{
display:block;
color:white;

    }
  /* cuerpo */
  .main{
    width:90%;
    margin:auto;
    
    }
    



.sobremi{
  
  /* border:1px solid red; */
padding:4em;
line-height:8em;
}


.Nombre{
  
  color:blue;
  font-size:23px;
  text-decoration:underline;
}

.btnCredencial{
  min-width:400px;

  background:rgba(116, 144, 223, 0.212);
  padding:1em;
border: 1PX solid rgb(124, 159, 241);
color:black;
}

.btnCredencial:focus{
background:white;
}

.footer{
 width:100%;
background:rgb(54, 52, 52);
text-align: center;
position:absolute;
bottom:0;
visibility:hidden;
}

.tituloFotter{
 color:white;
 font-size:1.5em;
}

.Imagen{
  width:700px;

  }

.herramientas{
padding:4em ;
background:#3333;
padding-bottom:2em;

}
  .herramientas h4{
    font-size:26px;
    /* color:rgb(133, 129, 129); */
       }
       #Contacto{
        padding:3em;
        background:#333;
        margin-top:20px;
        color:white;
          }


     /* "mediasqueris" */
    @media (max-width: 700px) {
    

header{
width:100%;
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;
/* overflow: hidden; */
background:#333;
color:white;
box-sizing:border-box;

}
   
.fa-solid{
  color:white;
  /* display:inline; */
}
.logo{
  font-size:33px;
  /* color:white; */
}
.navegacion{
width:100%;
height:80vh;
margin-top:0;
z-index:0;
text-align:end;
padding-left:0;
display:none;
font-family:Arial, Helvetica, sans-serif;

}


.item{
  margin-top:0;
display:block;

margin-left:0;
padding:1em;

}

    
.texto{
  color:white;
  font-size:22px;
  outline:0;
}

.Biografia{
  width:100%;
margin:auto;

 /* text-align: center; */

}

.saludar{
  margin-top:0;
  padding-top:18%;
  text-align:center;
}
.sobremi{
width:100%;
padding:0;

}


.show{
display: block;
}

.sobremi{
/* line-height:40px; */
}

.parraB{
/* line-height:40px; */

}

.herramientas{
padding:10em 4em;

}

.btn__menu{
  font-size:30px;
  visibility:visible;
  top:22px;
  color:white;
  }


      
.saludo{
font-size:38px;
margin-top:0;
}

.yo{
  width:50%;
 
}

      .Imagen{
width:100%;

      }

    } 





 